doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        meta(name="description" content="Any description here ..")
        meta(name="viewport" content="width=device-width, initial-scale=1")

        title Any Title here ..
        
        link(rel="stylesheet" href="css/style.css")
    body

        // Site Container Here ..
        p Hello world!! Pug Sass Starter Kit

        script(src="static/js/main.js")
